# --- Core Framework ---
fastapi
uvicorn[standard]
python-socketio
pydantic
pydantic-settings

# --- Upload & Cloudinary ---
python-multipart
cloudinary==1.44.1
requests
urllib3

# --- Utilities ---
python-dotenv
typing-extensions
aiofiles
jinja2

# --- Validation (MỚI THÊM CÁI NÀY) ---
email-validator

# --- Database & ODM ---
motor
beanie
dnspython